* {
  box-sizing: border-box;
}

 body {
  background-color: #9491910a;
  font-family: 'Lato', sans-serif;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: end;
  margin-top: 30px;
}

h4 {
  margin: 0 auto 0 30px;
}

#myInput {
  padding: 15px 200px 15px 5px;
  margin: 0;
  margin-top: -5px;
  height: 20px;
  border-radius: 3%;
  margin-right: 30px;
}

 .li {
  list-style: none;
  align-self: center;
  /* padding-right: 50px; */
  font-size: 0.8em;
  color: grey;
}

 .li li:nth-child(1) {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

 .photo ul:nth-child(1) {
  padding-left: 0;
}

 ul {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px;
  grid-gap: 20px;
}

img {
  border-radius: 50%;

}



 .flex-layout {
  display: flex;
  border: 2px solid lightgrey;
  border-radius: 3%;
  background-color: white;
  /* margin: 30px; */
}

.flex-layout:hover {
  cursor: pointer;
  transform: scale(1.05,1.05);
  box-shadow: 5px 5px #888888;
}

 .image, .list {
  margin: 20px;
}





.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 33%;
    right: 36%;
    top: 13%;
    width: 35%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;/* Black w/ opacity */
    border-radius: 2%;
    border: 2px solid lightgrey;
}

.modal-content {
  text-align: center;
  font-size: 0.8em;
  color: grey;
}

.name {
  font-size: 1.25em;
  margin-bottom: 0;
  font-weight: bold;
  color: black;
}

.modal-content p {
  margin: 10px;
}

.close {
  text-align: right;
  margin: 0 20px;
  font-size: 0.75em;
  cursor: pointer;
}

.image-2 {
  border-radius: 50%;
  height: 105px;
  width: 105px;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgrey;
    margin: 15px 30px;
    padding: 0;
}
